<div class="post1">
    <div class="postHead">
        <div class="postTitle">{{post.title}}</div>
        <p>Posted by {{post.author}} on {{post.date_created}}</p>
        {{#if oneComment}}
        <p>{{commentNum}} comment</p>
        {{else}}
        <p>{{commentNum}} comments</p>
        {{/if}}
    </div>
    <div class="postBody">
        <p class="postContent">{{post.content}}</p>
    </div>
</div>

<form id="newComment">
    
    <label for="content">Comment</label>
    <textarea id="content" name="content">{{content}}</textarea>

  
    {{{editButton}}}
    {{{deleteButton}}}
</form>

<div id="onPost" value="{{postid}}"></div>

<script src='/js/editComment.js'></script>