
<div id="smallPosts"></div>
    {{#each posts as |post|}}
    <div class="post" id="{{id}}" value="post">
        <div class="postHead">
            <div class="tag">{{tag}}</div>
            <div class="postTitle">{{title}}</div>
            
            <p>Posted by {{name}} on {{date_created}}</p>
            {{#if oneComment}}
            <p>{{commentNum}} comment</p>
            {{else}}
            <p>{{commentNum}} comments</p>
            {{/if}}
        </div>
        <div class="postBody">
            <p class="postContent">{{content}}</p>
            <div class="postFoot">
            {{#if mine}}
            <a href="/edit/post/{{id}}">Edit or Delete Post</a>
            {{/if}}
            {{#if zeroComments}}
            <a href="/post/{{id}}">Add Comments</a>
            {{else}}
            <a href="/post/{{id}}">View or Add Comments</a>
            {{/if}}
            </div>
        </div>



    </div>
    {{/each}}
</div>

{{#if loggedIn}}
<button id='addPost' class='addButton myButtons'>Add New Post</button>
{{/if}}

<script src="/js/home.js"></script>