<div class="post1">
    <div class="postHead">
      <div class="tag">{{post.tag}}</div>
        <div class="postTitle">{{post.title}}</div>
        
        <p>Posted by {{post.author}} on {{post.date_created}}</p>
        {{#if post.oneComment}}
        <p>{{post.commentNum}} comment</p>
        {{else}}
        <p>{{post.commentNum}} comments</p>
        {{/if}}
    </div>
    <div class="postBody">
        <p class="postContent">{{post.content}}</p>

        {{{post.edit}}}
    </div>
</div>

{{#each post.comments as |comment|}}
<div class="comment">
  <div class="commentHead">
    <p>Posted by {{comment.author}} on {{comment.date_created}}</p>
  </div>
  <div class="commentBody">
    <p class="commentContent">{{comment.content}}</p>
  </div>

  {{#if comment.mine}}
  {{{comment.edit}}}
  {{/if}}
</div>
{{/each}}



</form>
<script src='/js/post.js'></script>



