<div class="post1">
    <div class="postHead">
        <div class="postTitle">{{post.title}}</div>
        <p>Posted by {{post.author}} on {{post.date_created}}</p>
        <p>{{post.commentNum}} comments</p>
    </div>
    <div class="postBody">
        <p class="postContent">{{post.content}}</p>
    </div>
</div>

{{#each post.comments as |comment|}}
<div class="comment">
  <div class="commentHead">
    <p>Posted by {{comment.author}} on {{comment.date_created}}</p>
  </div>
  <div class="commentBody">
    <p class="commentContent">{{comment.content}}</p>
  </div>

  {{#if comment.mine}}
  <a href="/edit/comment/{{comment.id}}/{{post.id}}">Edit or Delete Comment</a>
  {{/if}}
</div>
{{/each}}

<a href="/new/comment/{{post.id}}">Add Comment</a>

</form>
<script src='/js/post.js'></script>



